
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* NavBarDesign */
.displayflex{
  display: flex;
  
}
/* LogoColor */
.bg-blue{
  background-color: #4165AE;
}

.bg-red{
  background-color: #EA545F;
}
.color-blue{
 color: #4165AE;
}

.color-red{
 color: #EA545F;
}
.BoxShadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sticky{
  position: sticky; top:0;
}