.DisplayFLexBoxAdmin{
    display: flex;
}
.Servidce{
    background-color: #2D3F4E;
    height: 800px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Servidce{
    color: white;
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
}
.Servidce{
    color: white;
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
}
.Servidce p{
    padding-top: 20px;
}
.Servidce p:hover{
    cursor: pointer;
    background-color: #f2f2f2;
    color:#2D3F4E ;
}